<%- include("../partials/header")%>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="card border-light mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-6 col-md-4">
                        <img src="<%=user.avatar%>" class="card-img" alt="user image">
                    </div>
                    <div class="col-6 col-md-8">
                        <div class="card-body ">
                            <h5 class="card-title d-inline"><%=user.name%></h5>
                            <%if(currentUser && user._id.equals(currentUser._id)){%>
                            <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                                data-target="#exampleModal">
                                Edit User
                            </button>
                            <%}%>
                            <p class="card-text"><%=user.intro%></p>
                            <p class="card-text"><%=user.email%></p>

                            <p class="card-text">
                                <small class="text-muted"><%=user.birthday.toISOString().substr(0, 10)%></small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <!-- if there is a current user, and the current user id equals to user id -->

        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary d-block my-2">
                Likes <span class="badge badge-light"> <%=user.likedCamps.length%></span> campgrounds
            </button>
            <button type="button" class="btn btn-primary d-block my-2">
                Has <span class="badge badge-light"><%=user.campgrounds.length%></span> campgrounds
            </button>
        </div>
    </div>
</div>
<!-- add modal to another ejs file -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit <%=user.username%></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <form action="/user/<%=user.username%>?_method=PUT" method="POST">
                    <input type="hidden" name="userId" value="<%=user._id%>" />
                    <div class="form-group">
                        <label for="nameUser">Name</label>
                        <input id="nameUser" type="text" class="form-control" name="user[name]" value="<%=user.name%>"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="avatar">Avatar</label>
                        <input id="avatar" type="text" class="form-control" name="user[avatar]" value="<%=user.avatar%>"
                            placeholder="url image">
                    </div>
                    <div class="form-group">
                        <label for="description">Intro</label>
                        <textarea name="user[intro]" id="description" class="form-control"><%=user.intro%></textarea>

                    </div>
                    <div class="form-group">
                        <label for="birthday">Birthday</label>
                        <input id="birthday" type="date" class="form-control" name="user[birthday]"
                            value="<%=user.birthday.toISOString().substr(0,10)%>">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input id="email" type="email" class="form-control" name="user[email]" value="<%=user.email%>">
                    </div>

                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>
            </div>
            <!-- modal close -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer")%>